In [1]:
import os
import re
import json
import glob
from collections import defaultdict
from functools import partial

import numpy as np 
import pandas as pd 
from tqdm.autonotebook import tqdm
import matplotlib.pyplot as plt 

import nltk
import string

In [2]:
train_df = pd.read_csv("dataset/train.csv")
sample_sub = pd.read_csv('dataset/sample_submission.csv')
train_fp = "dataset/train/"
test_fp = "dataset/test/"

In [3]:
train_df.head(5)

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19661 entries, 0 to 19660
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             19661 non-null  object
 1   pub_title      19661 non-null  object
 2   dataset_title  19661 non-null  object
 3   dataset_label  19661 non-null  object
 4   cleaned_label  19661 non-null  object
dtypes: object(5)
memory usage: 768.1+ KB

In [5]:
def read_append_return(filename, train_files_path=train_fp, output='text'):
    """
    Function to read json file and then return the text data from them and append to the dataframe
    """
    json_path = os.path.join(train_files_path, (filename+'.json'))
    headings = []
    contents = []
    combined = []
    with open(json_path, 'r') as f:
        json_decode = json.load(f)
        for data in json_decode:
            headings.append(data.get('section_title'))
            contents.append(data.get('text'))
            combined.append(data.get('section_title'))
            combined.append(data.get('text'))
    
    all_headings = ' '.join(headings)
    all_contents = ' '.join(contents)
    all_data = '. '.join(combined)
    
    if output == 'text':
        return all_contents
    elif output == 'head':
        return all_headings
    else:
        return all_data

In [6]:
%%time
tqdm.pandas()   #tqdm is used to show any code running with a progress bar. 
train_df['text'] = train_df['Id'].progress_apply(read_append_return)

/home/ry/.local/lib/python3.8/site-packages/tqdm/std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 19661/19661 [00:04<00:00, 4241.09it/s]CPU times: user 3.83 s, sys: 822 ms, total: 4.66 s
Wall time: 4.64 s

In [7]:
train_df.head(5)

,Id,pub_title,dataset_title,dataset_label,cleaned_label,text
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This study used data from the National Educati...
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Dropping out of high school is not necessarily...
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,", stress satisfactory outcomes for all youth,..."
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Federal Reserve Bank of Richmond S1. Accountin...
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This article investigates an important factor ...

In [8]:
def text_cleaning(text):
    '''
    Converts all text to lower case, Removes special charecters, emojis and multiple spaces
    text - Sentence that needs to be cleaned
    '''
    text = ''.join([k for k in text if k not in string.punctuation])
    text = re.sub('[^A-Za-z0-9\(\)]+', ' ', str(text).lower()).strip()
#     text = re.sub("/'+/g", ' ', text)
     
    return text

In [9]:
%%time
tqdm.pandas()
train_df['text'] = train_df['text'].progress_apply(text_cleaning)

/home/ry/.local/lib/python3.8/site-packages/tqdm/std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 19661/19661 [02:21<00:00, 139.19it/s]CPU times: user 2min 18s, sys: 3.1 s, total: 2min 22s
Wall time: 2min 21s

In [10]:
train_df.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label,text
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,this study used data from the national educati...
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,dropping out of high school is not necessarily...
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,stress satisfactory outcomes for all youth inc...
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,federal reserve bank of richmond s1 accounting...
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,this article investigates an important factor ...

In [11]:
%%time
tqdm.pandas()
sample_sub['text'] = sample_sub['Id'].progress_apply(partial(read_append_return, train_files_path=test_fp))

/home/ry/.local/lib/python3.8/site-packages/tqdm/std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 4/4 [00:00<00:00, 1159.45it/s]CPU times: user 7.92 ms, sys: 0 ns, total: 7.92 ms
Wall time: 6.78 ms

In [12]:
def clean_text(txt):
    return re.sub('[^A-Za-z0-9\(\)]+', ' ', str(txt).lower()).strip()

In [13]:
from model import search_sentences

In [18]:
i = 0
for row in train_df.iterrows():
    print("\nRow", i)
    label = row[1]["cleaned_label"]
    text = row[1]["text"]
    act, deact = search_sentences(label, text)
    print(act, deact)
    for j in range(len(act)):
        print("begin:", act[j])
        print("end:", deact[j])
        print("combined:", act[j], label, deact[j])
        print()
    i += 1
    if i >= 5:
        break

Row 0
['used data from the', 'fourth followup of the', 'fourth followup of the'] ['nels88 to examine the', 'collected in 2000 only', 'collected in 2000 only']
begin: used data from the
end: nels88 to examine the
combined: used data from the national education longitudinal study nels88 to examine the

begin: fourth followup of the
end: collected in 2000 only
combined: fourth followup of the national education longitudinal study collected in 2000 only

begin: fourth followup of the
end: collected in 2000 only
combined: fourth followup of the national education longitudinal study collected in 2000 only


Row 1
['school students from the', 'center for education statistics'] ['of 1988 nels88 berktold', 'of 1988 nels882000 eventually']
begin: school students from the
end: of 1988 nels88 berktold
combined: school students from the national education longitudinal study of 1988 nels88 berktold

begin: center for education statistics
end: of 1988 nels882000 eventually
combined: center for education statistics national education longitudinal study of 1988 nels882000 eventually


Row 2
['the nationally representative longitudinal', 'idea of 1990 the', 'were derived from the', 'was derived from the'] ['of 1988 nels88 data', 'nels program was instituted', 'data national center for', 'data national center for']
begin: the nationally representative longitudinal
end: of 1988 nels88 data
combined: the nationally representative longitudinal national education longitudinal study of 1988 nels88 data

begin: idea of 1990 the
end: nels program was instituted
combined: idea of 1990 the national education longitudinal study nels program was instituted

begin: were derived from the
end: data national center for
combined: were derived from the national education longitudinal study data national center for

begin: was derived from the
end: data national center for
combined: was derived from the national education longitudinal study data national center for


Row 3
['from 1982 to 1990'] ['of 1988 nels88 follows']
begin: from 1982 to 1990
end: of 1988 nels88 follows
combined: from 1982 to 1990 national education longitudinal study of 1988 nels88 follows


Row 4
['using data from the', 'education we use the', 'authors calculations using the', 'authors calculations using the'] ['nels we estimate a', 'nels to estimate a', 'nels notes ordinary least', 'nels notes ordered probit']
begin: using data from the
end: nels we estimate a
combined: using data from the national education longitudinal study nels we estimate a

begin: education we use the
end: nels to estimate a
combined: education we use the national education longitudinal study nels to estimate a

begin: authors calculations using the
end: nels notes ordinary least
combined: authors calculations using the national education longitudinal study nels notes ordinary least

begin: authors calculations using the
end: nels notes ordered probit
combined: authors calculations using the national education longitudinal study nels notes ordered probit

temp_1 = [x.lower() for x in train_df['dataset_label'].unique()]
temp_2 = [x.lower() for x in train_df['dataset_title'].unique()]
temp_3 = [x.lower() for x in train_df['cleaned_label'].unique()]

existing_labels = set(temp_1 + temp_2 + temp_3)
id_list = []
lables_list = []
for index, row in tqdm(sample_sub.iterrows()):
    sample_text = row['text']
    row_id = row['Id']
    temp_df = train_df[train_df['text'] == text_cleaning(sample_text)]
    cleaned_labels = temp_df['cleaned_label'].to_list()
    for known_label in existing_labels:
        if known_label in sample_text.lower():
            cleaned_labels.append(clean_text(known_label))
    cleaned_labels = [clean_text(x) for x in cleaned_labels]
    cleaned_labels = set(cleaned_labels)
    lables_list.append('|'.join(cleaned_labels))
    id_list.append(row_id)

submission = pd.DataFrame()
submission['Id'] = id_list
submission['PredictionString'] = lables_list

# pd.set_option("display.max_rows", None, "display.max_columns", None)
submission.head()

submission.to_csv('submission.csv', index=False)